<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">-->

<!--    <bean class="com.fxf.pojo.Users" id="user" init-method="start">-->
<!--        <property name="name" value="波波烤鸭" />-->
<!--    </bean>-->

<!--    &lt;!&ndash; 注册处理器 &ndash;&gt;-->
<!--    <bean class="com.fxf.MyBeanPostProcessor"></bean>-->
<!--</beans>-->
